<form [formGroup]="calculationForm">
    <div formArrayName="inputFields">
        <div *ngFor="let item of inputFields.controls; let i = index">
            <div class="form-group" [formGroupName]="i">
                <div class="row-container">
                    <label class="input-group-text">
                        {{item.get('description')?.value}}
                    </label>
                    <div>
                        <input

                                class="form-control"
                                type="text"
                                (keypress)="keyPressNumbers($event)"
                                placeholder="Wpisz wartość"
                                formControlName="value"
                                maxlength="20"
                                minlength="1"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button
            type="submit"
            class="btn btn-primary"
            (click)="calculate()"
            [disabled]="calculationForm.invalid">{{buttonLabel}}
    </button>
</form>

