:host {
  position:relative;
  width: 100%;
  min-height: 10%;
  display: flex;
  background-color: #2d568f;
}

.title,
.subtitle {
  color: #ffffff;
  margin-left:10%;
  margin-top:5%;
  width: 100%;
}

