<app-header [subtitle]="subtitle" [title]="title"></app-header>
<app-calculation-header
        [figureType]=" (selectChosenFigure$|async)?.name"
        [calculationsType]="(selectChosenCalculations$|async)?.name">
    <button mat-stroked-button color="warn"
            (click)="goToConfiguration()">{{buttonLabelText}}
    </button>
</app-calculation-header>
<app-calculations-form
        class="form"
        [params]="(selectCalculationsDetails$|async)!.params"
        [formula]="(selectCalculationsDetails$|async)!.formula"
        (result)="showResult($event)">
</app-calculations-form>
<app-calculations-result *ngIf="(result$|async)!"
        class="result"
        [result]="(result$|async)!"
        [figureType]="(selectChosenFigure$|async)?.name"
        [calculationsType]="(selectChosenCalculations$|async)?.name"
></app-calculations-result>
