<app-header [title]="title" [subtitle]="subtitle"></app-header>
<div class="combobox-wrapper">
    <app-combobox
            class="combobox"
            [title]="combobox0Title"
            [comboElements]="selectFiguresComboBoxData$|async"
            (selectedComboItem)=" setChosenFigure($event)"
    ></app-combobox>
    <app-combobox
            class="combobox"
            [title]="combobox1Title"
            [comboElements]="selectCalculationsData$|async"
            (selectedComboItem)="selectedCalculations($event)"
    ></app-combobox>
</div>
<div class="button-wrapper">
    <button mat-stroked-button color="primary" (click)="goToCalculations()"
            [disabled]='(isReadyToCalculation$|async)==false'> {{ buttonLabel }}
    </button>
</div>
