<app-toolbar></app-toolbar>
<app-combobox
        [title]="comboboxName1"
        [comboElements]="selectFiguresComboBoxData$|async"
        (selectedComboItem)=" selectedFigure($event)"
></app-combobox>
<app-combobox
        [title]="comboboxName2"
        [comboElements]="selectCalculations"
        (selectedComboItem)="selectedCalculations($event)"
></app-combobox>
<button mat-stroked-button color="primary" routerLink='/calculations'
        [disabled]='(isReadyToCalculation$|async)==false'> Przejdź do obliczeń
</button>
