<app-header [title]="title" [subtitle]="subtitle"></app-header>
<div class="combobox-wrapper">
    <app-combobox
            class="combobox"
            [title]="comboboxName1"
            [comboElements]="selectFiguresComboBoxData$|async"
            (selectedComboItem)=" figureSelectedByUserInComboBox($event)"
    ></app-combobox>
    <app-combobox
            class="combobox"
            [title]="comboboxName2"
            [comboElements]="selectCalculationsComboData$|async"
            (selectedComboItem)="calculationSelectedInComboBox($event)"
    ></app-combobox>
</div>
<div class="button-wrapper">
    <button mat-stroked-button color="primary" routerLink='/calculations'
            [disabled]='(isReadyToCalculation$|async)==false'> {{ buttonText }}
    </button>
</div>
